@model IEnumerable<TimeSheet.Entity.Models.Employee>

<div class="row">
    <div class="col-12">
        <h3>Employees</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>EmpID</th>
                    <th>EmpName</th>
                    <th>EmpDesignation</th>
                    <th>EmpEmailID</th>
                    <th>EmpPhone</th>
                    <th>EmpUserName</th>
                    <th>EmpPsw</th>
                    <th>EmpDOJ</th>
                    <th>MgrID</th>
                    <th>CurrentProjectID</th>
                    <th>AllocateProject</th>
                    <th>ChangePassword</th>
                    <th>GetTimeSheet</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.EmpID</td>
                        <td>@employee.EmpName</td>
                        <td>@employee.EmpDesig</td>
                        <td>@employee.EmpEmailID</td>
                        <td>@employee.EmpPhone</td>
                        <td>@employee.EmpUserName</td>
                        <td>@employee.EmpPsw</td>
                        <td>@employee.EmpDOJ</td>
                        <td>@employee.MgrID</td>
                        <td>@employee.CurrentProjectID</td>

                        <td><a class="btn btn-primary" asp-controller="Manager" asp-action="AllocateProject" asp-route-EmpID="@employee.EmpID">AllocateProject</a></td>
                        <td><a class="btn btn-primary" asp-controller="Manager" asp-action="ChangeEmpPsw" asp-route-EmpID="@employee.EmpID">ChangePassword</a></td>
                        <td><a class="btn btn-primary" asp-controller="Manager" asp-action="GetTimeSheetByID" asp-route-EmpID="@employee.EmpID">GetTimeSheet</a></td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>