@model StudentMVC.Models.Student
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<a asp-action="Index">Show Student Details</a>
<hr />

    <form method="post">
        <div>
            <table>
                <tr>
                    <td>
                        Roll
                    </td>
                    <td>
                        @Html.TextBoxFor(obj => obj.Roll)
                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        @Html.TextBoxFor(obj => obj.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        @Html.TextBoxFor(obj => obj.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        @Html.TextBoxFor(obj => obj.Psw)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Save" />
        </div>
        <hr />
        <div>
            @ViewBag.message
        </div>
    </form>
}
